---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Error 404 | Not Found">
  <a href="/">Volver al inicio</a>
  <img src="/img/pikachu-confundido-sorprendido-sonriendo6.png" alt="Pikachu confundido">
  <h1 class="text-4xl">
    No se encontró el recurso al que quieres acceder. Error 404.
  </h1>
</Layout>

<style>
  a {
    @apply hover:underline text-blue-500;
}
</style>