---
import Layout from "../layouts/Layout.astro";
import type {Response} from '../interfaces/pokemon-list.interface';
import PokemonCard from "../components/pokemons/PokemonCard.astro";

const title = 'Pokemon Static | Home';

const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
const data = await res.json() as Response;
---

<Layout title={title}>
	<h1 class="text-3xl">Listado de Pokemons</h1>
	<hr />

	<section
		aria-label="Listado de Pokemons"
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4"
	>
		{
			data.results.map(({name, url}) => (
				<PokemonCard 
					name={name} 
					url={url}
				/>
			))
		}
	</section>
</Layout>